.subredditCard {
  padding-right: var(--spacing-2);
}

.subredditCard h2 {
  margin-top: 0;
  color: var(--color-text-header);
}

.subredditCard button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  color: var(--color-text-body);
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  padding: var(--spacing-2);
  border-radius: var(--radius);
}

.selectedSubreddit button {
  color: var(--color-branding) !important;
}

.selectedSubreddit {
  border-left: 5px solid var(--color-branding);
  background: var(--color-branding-transparent);
}

.subredditCard button:hover {
  background: var(--color-on-hover);
}

.subredditsList {
  list-style: none;
  padding: 0;
}

.subredditIcon {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin-right: var(--spacing-1);
}

.avatarProfileImage {
  width: 1.8rem !important;
  height: 1.8rem !important;
  border-radius: 50%;
  margin-right: var(--spacing-1);
}
