:root {
  --color-logo: #ff304f;
  --color-background: #fcfcfc;
  --color-background-secondary: #f3f3f3;
  --color-foreground: #ffffff;
  --color-border: #e6e6e6;
  --color-text-header: #444444;
  --color-text-body: #6f6f6f;
  --color-text-secondary: #717171;
  --color-text-invert: #ffffff;
  --color-text-link: #4ec3f5;
  --color-branding: #3d5af1;
  --color-branding-transparent: #3d5af140;

  --color-alert: #ff304f;
  --color-success: #45b81f;
  --color-on-hover: #0000000f;

  --box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
  --box-shadow-hover: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04) !important;

  --spacing-0: 4px;
  --spacing-1: 8px;
  --spacing-2: 16px;
  --spacing-3: 24px;
  --spacing-4: 36px;
  --spacing-5: 64px;

  --radius: 4px;
  --radius-2: 8px;
}

html,
body {
  background: var(--color-background);
  color: var(--color-text-body);
}

p {
  margin: 0;
}

.main-container {
  display: flex;  
}

.main-content {
  flex-grow: 1;
}

.main-container .main-content {
  /* width: 80%; */
  padding: var(--spacing-3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-item {
  transition: all 0.3s ease;
}

.subreddit-aside {
  width: 250px;
}

.toggle-aside-btn {
  display: none;
  position: fixed;
  left: 10px;
  top: 8px;
  z-index: 1000;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.toggle-aside-btn:hover {
  background-color: #e0e0e0;
}

.toggle-aside-btn .bar {
  display: block;
  width: 20px;
  height: 3px;
  margin: 5px auto;
  background-color: #333;
  transition: all 0.3s ease-in-out;
}

article {
  display: flex;
  width: 80%;
}

@media (max-width: 1000px) {
  .subreddit-aside {
    position: fixed;
    left: -250px;
    top: 0;
    bottom: 0;
    background: white;
    z-index: 2;
  }

  .subreddit-aside.show {
    left: 0;
  }

  .toggle-aside-btn {
    display: block;
    z-index: 3;
  }

  .main-container .main-content {
    width: 90%;
  }

  article {
    width: 100%;
  }
}